.cart{
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: sticky;
    top: 0;
    border-radius: 25px;
}
.cart p {
    font-size: 17px;
}

.clear-cart-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 56px;
    border-radius: 6px;
    background: #FF3030;
    color: white;
    margin: 10px auto;
}